# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Languages that data scientists use
* Arithmetic expressions
* Data science Tools
* Libraries used by data scientistsem
em

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. SAS
8. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Plotly
6. Scikit-learn
7. TensorFlow
8. SciPy
9. NLTK
10. Apache Spark

Data Science Tools:
1. Data Management Tools
- MySQL
- MongoDB
- PostgreSQL
2. Data Integration and Transformation Tools
- Apache Hadoop
- Apache Spark
3. Data Analysis Tools
- Jupyter Notebook
- RStudio
4. Visualization Tools
- Tableau
5. Model Deployment Tools
- IBM Watson Studio
6. Collaboration Tools
- GitHub
- GitLab

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [137]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [139]:
hours = 200 / 60
print(hours)

3.3333333333333335

Author name: Aliha Shahzad